.wrapper
  width: 1080px
  padding: 0 20px
  margin: 0 auto

.center
  width: 980px
  margin: 0 auto 0 auto

.cf:after
  content: ""
  display: table
  clear: both

.one-whole
  width: 100%

.one-half
  width: 50%

.one-third
  width: 33.333%

.two-third
  width: 66.666%

.one-fourth
  width: 25%

.two-fourth
  @extend .one-half

.three-fourth
  width: 75%

.one-fifth
  width: 20%

.two-fifth
  width: 40%

.three-fifth
  width: 60%

.four-fifth
  width: 80%

.left
  float: left

.right
  float: right

.mtl
  margin: 60px 0 0 0
.mrl
  margin: 0 60px 0 0
.mbl
  margin: 0 0 60px 0
.mll
  margin: 0 0 0 60px

.mtm
  margin: 30px 0 0 0
.mrm
  margin: 0 30px 0 0
.mbm
  margin: 0 0 30px 0
.mlm
  margin: 0 0 0 30px

.mts
  margin: 15px 0 0 0
.mrs
  margin: 0 15px 0 0
.mbs
  margin: 0 0 15px 0
.mls
  margin: 0 0 0 15px

.divider
  margin: 30px 0
  border-bottom: 1px solid #cecece

.hidden
  display: none

.tipsy
  font-size: 11px
  font-weight: bold
