<li class="event" >
  <%= link_to event_path(event.slug) do %>
    <%= image_tag event.image_path, class: "event-image" %>
    <div class="label">
      <h1><%= event.title %></h1>
      <h2><%= event.date %></h2>
    </div>
  <% end %>
</li>
