<li class="event" >
  <%= link_to "#" do %>
    <%= image_tag "events/zurich.jpg", class: "event-image" %>
    <div class="label">
      <h1>Basel</h1>
      <h2>5 - 6 April 2013</h2>
    </div>
  <% end %>
</li>
