<% currently_at "Events" %>

<ul class="events">
  <h1>Upcoming Events</h1>

  <% 2.times do %>
    <%= render "event" %>
  <% end %>

  <div class="divider"></div>

  <h1>Past Events</h1>

  <% 3.times do %>
    <%= render "event" %>
  <% end %>

</ul>
