<% currently_at "Events" %>

<ul class="events">
  <h1>Upcoming Events</h1>

  <% 2.times do %>
    <li class="event" >
    <%= link_to "#" do %>
      <div class="event-image" style="background-image: url('assets/images/zurich.jpg')">
        <div class="label">
          <h1>Basel</h1>
          <h2>5 - 6 April 2013</h2>
        </div>
      </div>
    <% end %>
    </li>
  <% end %>

  <div class="divider"></div>

  <h1>Past Events</h1>

  <% 3.times do %>
    <li class="event" >
    <%= link_to "#" do %>
      <div class="event-image" style="background-image: url('assets/images/zurich.jpg')">
        <div class="label">
          <h1>Basel</h1>
          <h2>5 - 6 April 2013</h2>
        </div>
      </div>
    <% end %>
    </li>
  <% end %>

</ul>
