<% currently_at "Events" %>

<ul class="events">
  <h1>Upcoming Events</h1>

  <% @upcoming_events.each do |event| %>
    <%= render "event", event: event %>
  <% end %>

  <div class="divider"></div>

  <h1>Past Events</h1>

  <% @past_events.each do |event| %>
    <%= render "event", event: event %>
  <% end %>

</ul>
