<div class="two-third">
  <h2>Current News</h2>
  <p>
    We had a great workshop in Basel.
  </p>
  <p>
    Thanks everyone for making it so awesome.
  </p>

  <h2>Media</h2>
  <h3>Pictures</h3>
  <ul>
    <li>Rails Girls Basel Flickr Group</li>
  </ul>
  <h3>Presentations</h3>
  <ul>
    <li>Programming 101</li>
  </ul>
  <h2>Team</h2>
</div>

<div class="one-third">
  <h2>Everything at a glance</h2>
  <p>
    <strong>When:</strong> April 5th and 6th 2013<br />
    <strong>Where:</strong> unternehmen mitte, Gerbergasse 30, 4001 Basel<br />
    <strong>Applications:</strong> CLOSED!<br />
    <strong>Participants will be notified on:</strong> March 24th
  </p>

  <h2>Latest Tweets</h2>

  <h2>Sponsors</h2>
</div>
