<li class="person one-fourth left">
  <div class="person-image">
    <%= image_tag member.gravatar_url, class: "avatar-small" %>
  </div>
  <div class="person-info">
    <h3><%= member.name %>, <%= job %></h3>
    @<%= member.twitter %>
  </div>
</li>
