<% currently_at 'Home' %>
<div class="background-sprite" style="background-image: url('assets/icons/bg-sprite.png')">
  <div class="picture-frame" style="width: 500px;">
    <iframe src="//player.vimeo.com/video/53032561?portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div class="intro">
  <h2>Our goal</h2>
  <p>
    We are a swiss non-profit association and our aim is to give tools and a community for women to understand technology and to build their ideas.
    We do this by organizing events that provide a great experience on building things and by making technology more approachable.
  </p>
  <p>
    Learn sketching, prototyping, basic programming and get introduced to the world of technology. 
    Rails Girls Switzerland is a part of the <%= link_to "glboal Rails Girls", "http://railsgirls.com" %> movement which was born in Finland.
  </p>
  <p>
    Let's get excited and make things! <%= mail_to "contact@railsgrils.ch", "Contact us" %> or <%= link_to "follow us on Twitter", "https://twitter.com/railsgirls_ch"  %>.
  </p>
</div>
