<div class="content-section cf">
  <h2>Core Team</h2>
  <ul class="people">
    <% @team["core"].each do |member| %>
      <%= render 'pages/member', member: member %>
    <% end %>
  </ul>
</div>

<div class="divider"></div>

<div class="content-section cf">
  <h2>Past Organizers</h2>
  <ul class="people">
    <% @team["organizer"].each do |member| %>
      <%= render 'pages/member', member: member %>
    <% end %>
  </ul>
</div>
