<div class="content-section cf align-center">
  <div class="one-third left">
    <div class="mls mrs">
      <strong>You learn</strong> designing, prototyping and coding with the help from our coaches.
    </div>
  </div>
  <div class="one-third left">
    <div class="mls mrs">
      <strong>You need</strong> your own laptop, curiosity and a sprinkle of imagination!
    </div>
  </div>
  <div class="one-third left">
    <div class="mls mrs">
      <strong>Want to help?</strong> We are looking for volunteers and Rails coaches. <%= mail_to "contact@railsgirls.ch", "Email us" %>.
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="content-section cf">
  <div class="three-fifth left">
    <p class="mbl">
      Hey everyone!
      Rails Girls Basel Lite Edition is <%= link_to "open for application", "https://docs.google.com/forms/d/1u4a5hrpEgZQJmM6IeIgNM7m40mQJEy-8lc_zCIMvF9Q/viewform" %>!
      Register now to get a chance to enroll in this wonderful
      one day workshop and learn how to program!
    </p>
    <h2>Saturday 7th June</h2>
    <table class="schedule">
      <tbody>
        <tr>
          <th>9:00 - 10:00</th>
          <td>
            <h4>Registration & coffee and setup</h4>
            Get to know each other or get help installing Rails on your computer (for first-timers).
          </td>
        </tr>

        <tr>
          <th>10:00 - 10:15</th>
          <td>
            <h4>Welcoming words</h4>
            Outline of the day and motivational words from the organizers.
          </td>
        </tr>

        <tr>
          <th>10:15 - 10:30</th>
          <td>
            <h4>Team building</h4>
            We split attendees up in different teams.
          </td>
        </tr>

        <tr>
          <th>10:30 - 12:30</th>
          <td>
            <h4>Workshop</h4>
            We get our hands dirty and dive straight into coding!
            The beginners will get a gentle introduction with one presentation.
          </td>
        </tr>

        <tr>
          <th>12:30 - 13:30</th>
          <td>
            <h4>Lunch</h4>
            We have Sandwiches, healthy snacks and drinks prepared for you!
          </td>
        </tr>

        <tr>
          <th>13:30 - 17:00</th>
          <td><h4>Workshop - continued</h4></td>
        </tr>

        <tr>
          <th>17:00 - 17:30</th>
          <td>
            <h4>Closing words</h4>
            We'll talk about what we've accomplished during the workshop and
            have a short Q &amp; A.
          </td>
        </tr>

        <tr>
          <th>18:00 - open</th>
          <td>
            <h4>Afterparty</h4>
            Open to everyone. Keep coding or socialize with your fellow participants over a few drinks.
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="two-fifth left">
    <div class="mll">
      <h2>Everything at a glance</h2>
      <p>
        <strong>When:</strong> June 7th 2014<br />
        <strong>Where:</strong> unternehmen mitte, Gerbergasse 30, 4001 Basel<br />
        <strong>Applications:</strong> <%= link_to "Enroll here!", "https://docs.google.com/forms/d/1u4a5hrpEgZQJmM6IeIgNM7m40mQJEy-8lc_zCIMvF9Q/viewform" %><br />
      </p>

      <h2 class="mtl">Sponsors</h2>
      <p>
        <a href="http://www.mitte.ch" style="float:right; margin:0 0 0; border:0;">
          <img src="http://railsgirls.com/images/mitte.png" alt="Unternehmen Mitte">
        </a>
        <a href="http://www.mitte.ch">Unternehmen Mitte</a> unternehmen mitte is the name and concept for a playground of the human nature, a new meaning for an old bank building and for the culture of change. Once a bank, today an exchange place for work, culture and foremost: great coffee.
      </p>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="content-section one-whole">
  <h2>Coaches & Team</h2>
  <ul class="people">
    <% @event.team.each do |member| %>
      <%= render 'pages/event_member', member: $team.select{|m| member["name"] == m.name}.first, job: member["job"] %>
    <% end %>
  </ul>
</div>
