<fieldset>
  <legend align="center"><%= image_tag "icons/heart.png" %><h1>Rails Girls Switzerland</h1></legend>
</fieldset>
<div class="center">
  2014 Rails Girls Switzerland. <%= mail_to "contact@railsgirls.ch", "Contact us" %> or follow us on <%= link_to "Twitter", "https://twitter.com/railsgirls_ch" %> or <%= link_to "Facebook", "https://www.facebook.com/RailsGirlsSwitzerland" %>.
  <h2>M A K E &nbsp; C O D E &nbsp; N O T &nbsp; W A R</h2>
</div>
