<fieldset>
  <legend align="center"><%= image_tag "icons/heart.png" %><h1>Rails Girls Switzerland</h1></legend>
</fieldset>
<div class="center">
  2014 Rails Girls Switzerland. <%= mail_to "contact@railsgirls.ch", "Contact us" %> or follow us on <%= link_to "Twitter", "https://twitter.com/railsgirls_ch" %> or <%= link_to "Facebook", "https://www.facebook.com/RailsGirlsSwitzerland" %>.
  <h2>E A T &nbsp; C U P C A K E S &nbsp; &amp; &nbsp; M A K E &nbsp; C O D E</h2>
</div>
