<div class="background-image <%= background_image(@header_image) %>">

  <%= render "layouts/navigation" %>

  <div class="header-title">
    <h1><%= @page_title %></h1>
    <h2><%= @page_subtitle %></h2>
  </div>
</div>
